/*** АДАПТИВНЫЙ ШРИФТ ***/
.header__title {
	/*
	font-size: 50px;
	*/
	font-weight: 900;

	/* делаем адаптивный шрифт под размер мин. экрана */
	/* 1ая цифра - мин значение размера шрифта
	пример: 50px был наш (font-size:50px), а минимальный вывели 21px:
	50px - 21px = 29
	2ая цифра - разница первоначальное значение вычесть минимальное:
	21px + 29 * (100vw / 1280)
	*/

	font-size: calc(21px + 29 * (100vw / 1280));
}

.fullscreen__title {
	/*
	font-size: 35px;
	*/
	font-weight: 800;

	/*
	35px - 20px = 15

	20px + 15 * (100vw / 1280)
	*/

	font-size: calc(20px + 15 * (100vw / 1280));

}

@media (max-width: 767px) {

	.header__title {
		font-weight: 900;
		/* а здесь минимальное знач. плюсуем к сумме в скобках, в скобках
		мы дублируем разницу и прибавляем её
		21px + (18 + 18 * 0.7)
		*/
		font-size: calc(21px + (29 + 29 * 0.7) * ((100vw - 320px) / 1280));
	}

	.fullscreen__title {
		font-size: calc(20px + (15 + 15 * 0.7) * ((100vw - 320px) / 1280));
	}
}


.fullscreen__title_h2 {
	/*
	font-size: 42px;
	*/
	/*
	font-size: 39px;
	*/
	font-weight: 800;

	/* делаем адаптивный шрифт под размер мин. экрана */
	/* 1ая цифра - мин значение размера шрифта
	пример: 50px был наш font-size:39px, а минимальный вывели 21px:
	42px - 21px = 21
	2ая цифра - разница первоначальное значение вычесть минимальное:
	21px + 21 * (100vw / 1280)
	*/

	font-size: calc(21px + 21 * (100vw / 1280));
}

@media (max-width: 767px) {

	.fullscreen__title_h2 {
		font-weight: 800;
		/* а здесь минимальное знач. плюсуем к сумме в скобках, в скобках
		мы дублируем разницу и прибавляем её
		21px + (18 + 18 * 0.7)
		*/
		font-size: calc(21px + (21 + 21 * 0.7) * ((100vw - 320px) / 1280));
	}
}


.header__text {
	font-weight: 500;

	/* делаем адаптивный шрифт под размер мин. экрана */
	/* 1ая цифра - мин значение размера шрифта
	пример: 50px был наш font-size:39px, а минимальный вывели 21px:
	50px - 21px = 29
	2ая цифра - разница первоначальное значение вычесть минимальное:
	21px + 29 * (100vw / 1280)

	25 - 21 = 4
	*/

	font-size: calc(21px + 4 * (100vw / 1280));
}

.fullscreen__text {
	/* делаем адаптивный шрифт под размер мин. экрана */
	/* 1ая цифра - мин значение размера шрифта
	пример: 50px был наш font-size:39px, а минимальный вывели 21px:
	50px - 21px = 29

	21px - 18px = 3
	2ая цифра - разница первоначальное значение вычесть минимальное:
	21px + 29 * (100vw / 1280)

	18px + 3 * (100vw / 1280))

	25 - 21 = 4
	*/

	/*
	font-size: calc(21px + 4 * (100vw / 1280));
	*/
	font-size: calc(18px + 3 * (100vw / 1280))
}

@media (max-width: 767px) {

	.header__text {
		font-weight: 500;
		/* а здесь минимальное знач. плюсуем к сумме в скобках, в скобках
		мы дублируем разницу и прибавляем её
		21px + (18 + 18 * 0.7)
		*/
		font-size: calc(21px + (4 + 4 * 0.7) * ((100vw - 320px) / 1280));
	}
}